// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
10.4 Content header
--------------------------------------------------------------*/
@import "primary/content-header";

/*--------------------------------------------------------------
10.5 Index page
--------------------------------------------------------------*/
@import "primary/index";

html.header-menu-open {
  overflow: hidden;
}

#page {
  background-color: $color__background-body;

  // Will be displayed after heading, in JavaScript
  display: none;
}

.hoffice-page-content,
.entry-content {
  padding-top: $default-spacer-size;

  @include large-screen {
    padding-top: $default-spacer-size-large-screen;

    div, span, applet, object, iframe,
    p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
      font-size: $font__size-body-large-screen;
    }
  }
}

.site-content {
  padding-bottom: $default-spacer-size;
  @include large-screen {
    padding-bottom: $default-spacer-size-large-screen;
  }
}

.no-transition {
  @include transition(none !important);
}
