#content-header {
  background-size: auto, cover;
  background-position: 0% 0%, center center;

  position: relative; // To relatively position child

  > .entry-title {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));

    padding: 0 0.5em;

    font-family: $font__headings;
    color: $color__background-body;
    font-weight: bold;
    text-shadow: 1px 2px 40px $color__dark-background;

    @include adaptive-font-size(8);
  }
}
