#content-header {
  background-size: auto, cover;
  background-position: 0% 0%, center center;

  position: relative; // To relatively position child

  // To avoid a too small header on landscape mobile
  min-height: 200px;

  > .entry-title {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }

  .entry-title {
    padding: 0 0.5em;

    font-family: $font__headings;
    color: $color__background-body;

    @include header-text-shadow;
    @include adaptive-font-size(8);
  }
}
