#content-header {
  background-size: auto, cover;
  background-position: 0% 0%, center center;

  position: relative;

  > .entry-title {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));

    font-family: $font__h1;
    color: white;

    line-height: 1.25em;

    $entry-title-adaptive-font-size: 10;
    font-size: #{$entry-title-adaptive-font-size}vw;
    @include large-screen {
      font-size: #{$entry-title-adaptive-font-size * $font__adaptive-ratio-between-vw-and-px}px;
    }
  }
}

#scroll-to-content {
  $scroll-to-content-size: 60px;

  width: $scroll-to-content-size;
  height: $scroll-to-content-size;

  position: absolute;
  bottom: $spacer-unit-size;
  left: 50%;
  margin-left: -$scroll-to-content-size/2;

  $down-arrow-button-image-location-x: 0;
  $down-arrow-button-image-location-y: 0;

  background: transparent url($sprite-url) repeat-x scroll $down-arrow-button-image-location-x $down-arrow-button-image-location-y;

  @include hdpi-sprite;

  @include hidpi {
    background-position: half-pos($down-arrow-button-image-location-x, $down-arrow-button-image-location-y);
  }

  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  @include transition-all-attributes;
}
