body.home {
  .site-content {
    padding-bottom: 0;
  }
}

#content-header {
  @include background-image(linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/index-header.jpg"));
}

.index-menu-container {
  text-align: center;

  > ul {
    display: inline-block;

    $menu-width-large-screen-percent: 75;

    @media screen and (min-width: $max-content-width * 100 / $menu-width-large-screen-percent) {
      width: percentage($menu-width-large-screen-percent / 100);
    }

    > li {
      display: inline-block;
      vertical-align: bottom;

      padding: 0 $spacer-unit-size; // We use padding instead of margin because we need to include it in the width: 33%
      margin-bottom: 4*$spacer-unit-size;

      max-width: $min-content-width;
      @media screen and (min-width: $max-content-width * 100 / $menu-width-large-screen-percent) {
        max-width: none;
        width: (100% / 3);
      }
    }
  }

  aside,
  .entry-header {
    min-height: 70px; // Enough for 2 lines of text
  }

  // To avoid weird bottom space in the container
  img {
    display: block;
  }

  .menu-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include transition-all-attributes;
  }

  h2 {
    font-size: $font__size-body-large-screen;
    padding: 0 $spacer-unit-size;

    position: relative; // For z-index to be taken into account
    z-index: 1; // More than the overlay

    @include transition-all-attributes;
  }
}

#index-menu-pages {
  a {
    display: block;

    color: $color__text-input;
    text-decoration: none;

    &:hover {
      figure > .menu-item-overlay {
        opacity: 0.1;
      }
      aside > .menu-item-overlay {
        height: 100%;
      }
      h2 {
        color: $color__background-body;
      }
    }
  }

  figure {
    position: relative;

    > .menu-item-overlay {
      background-color: $color__dark-background;
      opacity: 0;
    }
  }

  aside {
    position: relative;

    > .menu-item-overlay {
      background-color: $color__action;
      height: 0;
    }
  }
}

.index-menu-container.posts {
  background-color: $color__action;
  padding-top: $default-spacer-size-large-screen;
}

#index-menu-posts {
  li {
    &.format-standard,
    &.format-aside,
    &.format-quote {
      > .entry-content > * {
        display: none;
      }
    }

    // Hidden before set to correct size in JS
    &.format-video {
      display: none;

      a {
        position: relative;
      }
    }
  }

  .entry-content {
    padding: 0;
  }

  h2,
  a {
    color: $color__background-body;
  }

  p {
    margin: 0;
  }

  .entry-footer {
    display: none;
  }
}
