$header-bar-height: 40px;
$header-bar-height-large-screen: 59px;
$menu-button-image-location-x-white: -100px;
$menu-button-image-location-x-black: -200px;
$cross-button-image-location-x-white: -300px;
$fb-button-image-location-x: -600px;
$rss-feed-button-image-location-x: -700px;

.main-navigation {
  clear: both;
}

ul.menu {
  list-style-type: none;
  margin: 0;
}

/* Small menu */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: $z-index-menu-bar;
}

.site-branding > div,
#colophon > div {
  margin: auto;

  @media screen and (min-width: $max-content-width * 100 / $menu-width-large-screen-percent) {
    width: percentage($menu-width-large-screen-percent / 100);
  }
}

.site-branding {
  background-color: rgba(37, 37, 37, 0.7); // $color__dark-background @0.7

  @include transition(background-color 0.5s);

  height: $header-bar-height;
  @include large-screen {
    height: $header-bar-height-large-screen;
  }

  &.header-menu-open {
    background-color: $color__dark-background !important;

    .lang-item {
      > a {
        color: $color__background-hr !important;
      }
    }

    a {
      color: $color__background-hr !important;
    }

    button {
      $menu-button-image-location-x: $cross-button-image-location-x-white;
      $menu-button-image-location-y: 0;

      background-position: $menu-button-image-location-x $menu-button-image-location-y !important;

      @include hidpi {
        background-position: half-pos($menu-button-image-location-x, $menu-button-image-location-y) !important;
      }
    }
  }

  > div {
    @include clearfix;

    // To have language bar in the middle
    text-align: center;

    > a {
      float: left;

      font-family: $font__headings;
      color: $color__background-hr;

      text-decoration: none;

      // For margin declarations to work
      display: inline-block;

      margin: 2px 0 0 $spacer-unit-size;

      @include large-screen {
        margin: 1px 0 0 25px;
      }

      $home-menu-font-size: $font__size-body-large-screen;

      font-size: $home-menu-font-size;
      @include large-screen {
        $home-menu-font-size: $font__size-h2;
        font-size: $home-menu-font-size;
      }
    }

    > #secondary {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;

      margin-top: 7px;
      @include large-screen {
        margin-top: 16px;
      }

      .widget_polylang {
        margin: 0;
      }

      ul {
        list-style-type: none;
        margin: 0;
      }

      .lang-item {
        display: inline-block;
      }

      a,
      a:visited,
      a:hover,
      a:focus,
      a:active {
        color: $color__background-hr;
      }

      a {
        margin: 0 $spacer-unit-size/2;
      }
    }

    > button {
      float: right;

      margin: 0 9px 0 0;

      @include large-screen {
        margin: 9px 20px 0 0;
      }

      $menu-button-image-location-x: $menu-button-image-location-x-white;
      $menu-button-image-location-y: 0;

      @include hdpi-sprite;
      background-position: $menu-button-image-location-x $menu-button-image-location-y;
      @include hidpi {
        background-position: half-pos($menu-button-image-location-x, $menu-button-image-location-y);
      }

      width: 40px;
      height: 40px;
    }
  }
}

html.scrolled-down {
  .site-branding {
    background-color: rgba(245, 245, 245, 0.9); // $color__background-body @0.9

    #secondary {
      a,
      a:visited,
      a:hover,
      a:focus,
      a:active {
        color: $color__text-input;
      }
    }

    a {
      color: $color__text-input;
    }

    button {
      $menu-button-image-location-x: $menu-button-image-location-x-black;
      $menu-button-image-location-y: 0;

      background-position: $menu-button-image-location-x $menu-button-image-location-y;
      @include hidpi {
        background-position: half-pos($menu-button-image-location-x, $menu-button-image-location-y);
      }
    }
  }
}

#header-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  padding-top: $header-bar-height;
  @include large-screen {
    padding-top: $header-bar-height-large-screen;
  }

  background-color: $color__dark-background;

  text-align: center;

  > section {
    opacity: 0;

    margin: $default-spacer-size/2 0;
    @include large-screen {
      margin: $default-spacer-size-large-screen/2 0;
    }
  }

  h2 {
    text-transform: uppercase;
    color: $color__text-input;
    @include adaptive-font-size(4);
  }

  a {
    color: $color__background-body;
    @include adaptive-font-size(5);
  }
}

#header-menu-posts {
  margin-top: $default-spacer-size;
  @include large-screen {
    margin-top: $default-spacer-size-large-screen;
  }

  > h2 {
    margin-bottom: 0;
  }

  a {
    margin-top: 0.75em;
    display: inline-block;  // For the margin not to bleed out of the container

    line-height: 1em;
  }

  .posted-on {
    display: block;
    color: $color__background-hr;
  }
}

#colophon {
  background-color: $color__dark-background;
  color: $color__background-body;

  > div {
    text-align: center;
    padding: $spacer-unit-size*3 0;
  }

  .menu-item {
    display: inline-block;
    padding: 0 $spacer-unit-size;

    > a,
    > a:visited,
    > a:hover,
    > a:focus,
    > a:active {
      color: $color__background-hr;
    }
  }

  article {
    display: inline-block;

    padding: 0 $spacer-unit-size*3;
    margin-top: $spacer-unit-size * 2;

    vertical-align: top;
  }

  label,
  #mail-to {
    @include medium-screen {
      font-size: $font__size-body-large-screen;
    }
  }

  $social-icons-size: 40px;

  #follow-us-wrapper {
    > div {
      // I don't know why it gets higher than its contents without this line
      height: $social-icons-size;
    }
  }

  $social-button-image-location-y: 0;

  .facebook,
  .rss-feed {
    $social-button-image-location-x: $fb-button-image-location-x;

    @include hdpi-sprite;
    background-position: $social-button-image-location-x $social-button-image-location-y;
    @include hidpi {
      background-position: half-pos($social-button-image-location-x, $social-button-image-location-y);
    }

    width: $social-icons-size;
    height: $social-icons-size;
    display: inline-block;
  }

  .rss-feed {
    $social-button-image-location-x: $rss-feed-button-image-location-x;

    background-position: $social-button-image-location-x $social-button-image-location-y;
    @include hidpi {
      background-position: half-pos($social-button-image-location-x, $social-button-image-location-y);
    }

    margin-right: $spacer-unit-size;
  }
}
