.main-navigation {
  clear: both;
}

.menu-main-menu-container {
  text-align: center;

  background-color: #F0F0F0;
}

#menu-main-menu {
  display: inline;
  list-style-type: none;
  margin: 0;

  > .menu-item {
    display: inline-block;
    vertical-align: bottom;

    margin: 0 $default-spacer-size 4*$default-spacer-size;

    max-width: $min-content-width - 2 * $default-spacer-size;
  }

  a {
    display: block;

    color: $color__text-main;
    text-decoration: none;

    > div {
      min-height: 84px; // Enough for 2 lines of text

      background-color: white;

      @include transition-all-attributes;
    }

    &:hover {
      .overlay-for-hover {
        opacity: 0.1;
      }

      > div {
        background-color: $color__action;
        color: white;
      }
    }
  }

  figure {
    position: relative;

    > .overlay-for-hover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: black;
      opacity: 0;

      @include transition-all-attributes;
    }

    img {
      display: block;
    }
  }
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
}

#colophon {
  background-color: #252525;
  color: white;
}

.site-branding > a {
  color: white;
}

