$header-bar-height: 40px;
$header-bar-height-large-screen: 59px;

.main-navigation {
  clear: both;
}

ul.menu {
  list-style-type: none;
  margin: 0;
}

/* Small menu */
.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: $z-index-menu-bar;
}

#post-thumbnails {
  text-align: center;
  background-color: $color__post-thumbnails;
  color: white;

  padding-bottom: $default-spacer-size;
  @include large-screen {
    padding-bottom: $default-spacer-size-large-screen;
  }

  > div {
    display: inline;
  }

  article {
    display: inline-block;
    vertical-align: bottom;

    margin: 0 $spacer-unit-size 4*$spacer-unit-size $spacer-unit-size;

    max-width: $min-content-width - 2 * $spacer-unit-size;

    &.format-standard,
    &.format-aside,
    &.format-quote {
      > .entry-content {
        display: none;
      }
    }

    // Hidden before set to correct size in JS
    &.format-video {
      display: none;
    }
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: white;
  }

  .entry-footer {
    display: none;
  }
}

#colophon {
  background-color: #252525;
  color: white;
}

.site-branding {
  background-color: rgba(0, 0, 0, 0.5);

  height: $header-bar-height;
  @include large-screen {
    height: $header-bar-height-large-screen;
  }

  @include clearfix;

  > a {
    float: left;

    @include heading-style-h1;
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }

    text-decoration: none;

    // For margin declarations to work
    display: inline-block;

    margin: $spacer-unit-size/4 0 0 $spacer-unit-size;

    @include large-screen {
      margin: $spacer-unit-size/2 0 0 $spacer-unit-size*2;
    }

    $home-menu-font-size: $font__size-body-large-screen;

    font-size: $home-menu-font-size;

    // On index page, the text is wrapped in <h1>
    > h1 {
      font-size: $home-menu-font-size;
    }

    @include large-screen {
      $home-menu-font-size: $font__size-h2;
      font-size: $home-menu-font-size;
      > h1 {
        font-size: $home-menu-font-size;
      }
    }
  }

  > button {
    float: right;

    margin: 0 $spacer-unit-size 0 0;

    @include large-screen {
      margin: 9px $spacer-unit-size*2 0 0;
    }

    $menu-button-image-location-x: -200px;
    $menu-button-image-location-y: 0;

    background: transparent url($sprite-url) repeat-x scroll $menu-button-image-location-x $menu-button-image-location-y;

    @include hdpi-sprite;

    @include hidpi {
      background-position: half-pos($menu-button-image-location-x, $menu-button-image-location-y);
    }

    width: 40px;
    height: 40px;

    opacity: $default-opacity;
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

#header-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-header-menu;

  padding-top: $header-bar-height;
  @include large-screen {
    padding-top: $header-bar-height-large-screen;
  }

  background-color: black;
  overflow: auto;

  display: none;

  text-align: center;

  > section {
    margin-top: $default-spacer-size;

    @include large-screen {
      margin-top: $default-spacer-size-large-screen;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    text-transform: uppercase;
    color: $color__text-input;
    font-weight: bold;

    $header-menu-adaptive-font-size: 3;
    font-size: #{$header-menu-adaptive-font-size}vw;
    @include large-screen {
      font-size: #{$header-menu-adaptive-font-size * $font__adaptive-ratio-between-vw-and-px}px;
    }
  }

  a {
    color: white;

    $header-menu-adaptive-font-size: 5;
    font-size: #{$header-menu-adaptive-font-size}vw;
    @include large-screen {
      font-size: #{$header-menu-adaptive-font-size * $font__adaptive-ratio-between-vw-and-px}px;
    }
  }
}