@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'KG-Second-Chances';
  src: url("fonts/kg-second-chances/KGSecondChancesSolid.ttf");
}

@font-face {
  font-family: 'Bitter';
  src: url("fonts/bitter-ht-regular-italic-bold-bold-italic/Bitter-Bold.otf");
}

@font-face {
  font-family: 'Nexa';
  src: url("fonts/nexa/Nexa Bold.otf");
}

@font-face {
  font-family: 'Aileron';
  src: url("fonts/aileron/Aileron-Regular.otf");
}

@font-face {
  font-family: 'Aileron';
  src: url("fonts/aileron/Aileron-Heavy.otf");
  font-weight: bold;
}

@font-face {
  font-family: 'Glober';
  src: url("fonts/glober/Glober Semibold Free.otf");
}
