<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- Favicon TODO
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> -->

    <!-- Fonts TODO
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" /> -->

    <!-- CSS -->
	<link rel="stylesheet" href="{{ theme_url }}/main-v1.css" type="text/css" />
</head>
<body>
	<header {% if is_front_page == false %} data-header-image-url="{{ current_page.url }}{{ meta.header_image }}" {% endif %}>
        <a href="{{ base_url }}">{{ site_title }}</a>

<!--
        {% if is_front_page %}
        <ul class="nav">
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        -->

	</header>

	<section id="content">
        {{ content }}
	</section>
	
	<footer>
	</footer>
</body>
</html>
