$size__site-main: 100%;
$size__site-sidebar: 25%;

$min-content-width: 320px;
$medium-content-width: $min-content-width * 2;
$max-content-width: $min-content-width * 3;

$spacer-unit-size: 14px;
$default-spacer-size: 10vw;
$default-spacer-size-large-screen: $spacer-unit-size * 7;

$z-index-header-menu: 10;
$z-index-menu-bar: $z-index-header-menu + 1;

$menu-width-large-screen-percent: 75;