$font__main: Roboto, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;
$font__line-height-headings: 1.25;
$font__headings: Aileron;  // Capita-Light, Bitter, Nexa, Aileron-Bold/Heavy, Glober

$font__size-body: 16px;
$font__size-body-large-screen: $font__size-body * 1.25;
$font__size-h1: 42px;
$font__size-h2: 30px;
$font__size-h3: 25px;
$font__size-h4: 22px;

$font__adaptive-ratio-between-vw-and-px: 9.5;
