button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.btn {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  box-shadow: inset 0 1px 0 transparentize($color__action, 0.5), inset 0 15px 17px transparentize($color__action, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: $color__text-btn;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  line-height: 1;
  padding: .6em 1em .7em;

  font-size: $font__size-body * 0.875;
  @include large-screen {
    font-size: $font__size-body;
  }

  &:hover,
  &:focus {
    border-color: $color__border-button-hover;
    box-shadow: inset 0 1px 0 transparentize($color__action, 0.2), inset 0 15px 17px transparentize($color__action, 0.2), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  }

  &:active {
    border-color: $color__border-button-focus;
    box-shadow: inset 0 -1px 0 transparentize($color__action, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
}

// Overriding default link styles
a.btn {
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $color__text-btn;
    text-decoration: none;
  }
}

button.styleless {
  border: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;

  &:focus {
    border: none;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
}

.ios {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  a.btn {
    padding-top: .4em;
  }
}
