/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
  box-sizing: inherit;
}

// To avoid these elements to bleed through the parent
img,
iframe,
embed {
  max-width: 100%;
}

a,
span {
  display: inline-block; // For "width" declaration to work
}

html {
  // Always display the vertical scrollbar
  overflow-y: scroll;

  box-sizing: border-box;
}

body {
  font-size: $font-size-base;
}

h1,
h2 {
  text-rendering: optimizelegibility;
  font-smoothing: antialiased;
}

h1 {
  font-size: ($font-size-h2 + $font-size-h3) / 2; // $font-size-h2 is a bit too big on small screen

  @include large-screen {
    font-size: $font-size-h1;
  }

  text-align: center;
}

h2 {
  font-size: $font-size-h3;

  @include large-screen {
    font-size: $font-size-h2;
  }

  margin-top: 0;
}

h3 {
  font-size: $font-size-h4;

  @include large-screen {
    font-size: $font-size-h3;
  }

  margin-bottom: 0.5em;
}

h4 {
  font-size: $font-size-h4;
}

p,
span,
li,
a,
label {
  line-height: $line-height-project;

  @include large-screen {
    font-size: $font-size-body-large-screen;
  }
}

ul {
  padding-left: 1.5em;
}

a,
a:visited {
  color: $action-color;
  cursor: pointer; // To have the pointer on anchors which don't have any href
}

a:hover,
a:focus {
  color: $action-color;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

.centered-contents {
  text-align: center;
}
